.container {
    background-color: #ffffffff !important;
    max-width: 100%;
}
.bg-light {
    max-width: 100%;
    background-color: #ffffffff !important;
}
.container .logo {
    margin-right: 500px;
}

.image-brand {
    margin-left: 50px;
    height: 100px;
    width: 100%;
}
.navbar-nav .nav-link{
    color: rgb(46, 141, 214) !important;
}

.button-fa-solid {
    color: rgb(46, 141, 214);
    border: solid  #ffffffff;
    border-radius: 50%;
}
.btn-outline-success:hover {
    background-color: rgb(46, 141, 214);
    border: solid  rgb(46, 141, 214);
}

/* Swipper Banner  */
.slideShow-banner{
    height: 600px;
    max-width: 50%;
}
.text-banner {
    max-width: 50%;
}
.header-text {
    margin-top: 100px;
}
.header-text h1 {
    color: #ff4838;
    font-weight: 700;
    letter-spacing: .05em;
    font-size: 70px;
    line-height: 85px;
}
.content {
    margin: 25px 20px;
}
.content p {
    color: #8d1b1b;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .02em;
    line-height: 25px;
}

.detail {
    justify-content: space-around;
    margin-top: 45px;
}

